<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">

      <a class="navbar-brand" href="#">FoodStory</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/custom">Список клиентов</a></li>
        <li><a href="/custom/new">Добавить новый заказ</a></li>
        <li class="active"><a href="/statistics">Статистика</a></li>
      </ul>

    </div>
    <!--/.nav-collapse -->
  </div>
</nav>

<div class="container">
  <% if notice %>
      <br/>

      <div class="alert alert-info"> <%= notice %> </div>
  <% end %>

  <% if !@customers.blank? %>
      <table class="table table-hover cell">
        <thead>
        <tr>
          <th class="cell">Дата создания заказа</th>
          <th class="cell">Имя</th>
          <th class="cell">Статус</th>
          <th class="cell">Время приготовления (мин.)</th>
          <th class="cell">Время выдачи заказа (мин.)</th>
        </tr>
        </thead>
        <tbody>
        <% @customers.each do |custom| %>
            <tr>
              <td class="cell"><%= custom.created_at %></td>
              <td class="cell"><%= custom.name %></td>
              <td class="cell">
                <%= case custom.status
                      when 3
                        "Заказ на кухне"
                      when 2
                        "Заказ готов"
                      when 1
                        "Заказ выдан клиенту"
                      when 0
                        "Заказ был удален"
                      else
                        "что то пошло не так, позвоните Руслану он починит!"
                    end %>
              </td>
              <td class="cell">
                <% if custom.status == 0 %>
                    заказ был удален
                <% else %>
                    <% if !custom.date_of_ready.blank? %>
                        <%= sprintf("%.2f", (custom.date_of_ready - custom.created_at) / 60).to_f %>
                    <% else %>
                        идет расчет
                    <% end %>
                <% end %>
              </td>
              <td class="cell">
                <% if custom.status == 0 %>
                    заказ был удален
                <% else %>
                    <% if !custom.date_of_ready.blank? and !custom.date_of_gave.blank? %>
                        <%= sprintf("%.2f", (custom.date_of_gave - custom.date_of_ready) / 60).to_f %>
                    <% else %>
                        идет расчет
                    <% end %>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% else %>
      <div class="alert alert-info"> У Вас нет заказов!.</div>
  <% end %>


</div> <!-- /container -->
